[submodule "external/moverscore"]
	path = external/moverscore
	url = https://github.com/AIPHES/emnlp19-moverscore.git
[submodule "external/SUPERT"]
	path = external/SUPERT
	url = https://github.com/danieldeutsch/SUPERT.git
[submodule "external/BARTScore"]
	path = external/BARTScore
	url = https://github.com/neulab/BARTScore.git
